<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>add Product</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/.svg}">
    <!-- Template CSS -->
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="screen-overlay"></div>
<div th:replace="~{fragment::sidebar}">

</div>
<main class="main-wrap">
    <div th:replace="~{fragment::main-nav}"></div>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>
                        <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                         <button class="btn btn-md rounded font-sm hover-up">Publich</button> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Product Details</h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/updateOffer}" th:object="${offer}"   method="post">
                            <input type="hidden" th:field="*{id}" >
                            <div class="mb-4">
                                <label  class="form-label">Product/Category Name</label> <br>

                                <strong th:text="${offer.product?.name}"></strong>
                                <strong th:text="${offer.category?.name}"></strong>
                            </div>

                            </select>
                            <div class="mb-4">
                                <label  class="form-label">Offer Name</label>
                                <input type="text" th:field="*{offerName}"  name="offerName"   class="form-control"  required  />
                            </div>
                            <div class="mb-4">
                                <label  class="form-label">Offer Description</label>
                                <input type="text" th:field="*{descriprion}"  name="descriprion"   class="form-control"  required  />
                            </div>
                            <div class="mb-4">
                                <label  class="form-label">Offer Percentage</label>
                                <input type="text" th:field="*{offerPercentage}"  name="offerPercentage"   class="form-control"  required  />
                            </div>










                            <button class="btn btn-primary" type="submit">Save</button>

                        </form>


                    </div>
                </div> <!-- card end// -->





            </div>
        </div>
    </section> <!-- content-main end// -->
    <div th:replace="~{fragment::footer}">

    </div>
</main>
<div th:replace="~{fragment::script}">

</div>
</body>

</html>