<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Product</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme}">
    <!-- Template CSS -->
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="screen-overlay"></div>
<div th:replace="~{fragment::sidebar}">

</div>
<main class="main-wrap">
    <div th:replace="~{fragment::main-nav}">

    </div>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Reviews</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <a href="#" class="btn btn-light rounded font-md">Export</a>
                <a href="#" class="btn btn-light rounded  font-md">Import</a>
                <a th:href="@{/addProduct}" class="btn btn-primary btn-sm rounded">Create new</a>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header>

            <div class="comments-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4 class="mb-30">Review</h4>
                            <div class="comment-form">


                                <div class="row">
                                    <div class="col-lg-12 col-md-12">

                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex" th:each="review:${reviews}">
                                    <div class="user justify-content-between d-flex" >
                                        <div class="thumb text-center col-md-4">
                                            <!-- <img src="assets/imgs/page/avatar-6.jpg" alt=""> -->
                                            <h6><a href="#" th:text="${review.customer.name}"></a></h6>

                                        </div>
                                        <div class="desc col-md-8">

                                            <p th:text="${review.comment}">.</p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <p class="font-xs mr-30" >
                                                        <small th:text="${review.reviewDate}">

                                                        </small>
                                                    </p>
                                                    <!-- <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </section> <!-- content-main end// -->
    <div th:replace="~{fragment::footer}">

    </div>
</main>
<div th:replace="~{fragment::script}">

</div>
</body>

</html>