<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment::head}">

</head>
<body>
<div th:replace="~{fragment::nav-head}">

</div>

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a th:href="@{/}" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Order
            </div>
        </div>
    </div>
    <section class="pt-80 pb-100">
        <div class="container">
            <div class="row">

                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">Your Orders</h5>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Order</th>

                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Total
                                        <th>Payment Method</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderDetail:${orders}">
                                        <td th:text="${orderDetail.id}">#</td>

                                        <td th:text="${orderDetail.orderDate}"></td>
                                        <td th:text="${orderDetail.orderStatus}"></td>
                                        <td th:text="${orderDetail.grandTotelPrize}">$</td>
                                        <td th:text="${orderDetail.paymentMethod}"></td>
                                        <td>
                                            <a href="#orders" class="btn-danger" th:if="${orderDetail.orderStatus=='Pending' || orderDetail.orderStatus=='Shipped'}" th:href="@{/cancelOrder(orderId=${orderDetail.id})}"
                                               onclick="if (!confirm('Are you sure want to Cancel This item'))return false">Cancel</a>
                                            <a class="btn-danger"  th:if="${orderDetail.orderStatus=='Delivered'}" th:href="@{/returnOrder(orderId=${orderDetail.id})}"
                                               onclick="if (!confirm('Are you sure want to Return This item'))return false">
                                                Return</a>
                                            <a th:href="@{/orderDetails(orderId=${orderDetail.id})}" class="btn-small d-block">View</a></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>




                    </div>
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item " th:if="${currentPage!=0}"><a class="page-link"  th:href="@{'/order?pageNo='+ ${currentPage-1}}"><<</a></li>
                            <li class="page-item" th:classappend="${currentPage == i-1 ?'active':''}" th:each="i:${#numbers.sequence(1,totalPage)}">
                                <a class="page-link" th:href="@{'/order?pageNo='+${i-1}}"> <span th:text="${i}"></span></a></li>
                            <li class="page-item" th:if="${currentPage+1 !=totalPage}"><a class="page-link" th:href="@{'/order?pageNo='+ ${currentPage+1}}">>> </a></li>

                        </ul>
                    </nav>
                </div>
                </div>
        </div>
    </section>
</main>



                <div th:replace="~{fragment::footer}">

</div>
<div th:replace="~{fragment::scipt}">

</div>
</body>
</html>