<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment::head}">

</head>
<body>
<div th:replace="~{fragment::nav-head}"></div>

<!-- product details-->
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a th:href="@{/}" rel="nofollow">Home</a>
                <span>Product</span>
                <span>Product Details</span>
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        <figure class="border-radius-10">
                                            <img th:if="${not #lists.isEmpty(product.imagesUrl)}"
                                                 th:src="@{'/productImages/' + ${product.imagesUrl[0]}}" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img th:if="${not #lists.isEmpty(product.imagesUrl)}"
                                                 th:src="@{'/productImages/' + ${product.imagesUrl[1]}}" alt="product image">
                                        </figure>
                                        <figure class="border-radius-10">
                                            <img th:if="${not #lists.isEmpty(product.imagesUrl)}"
                                                 th:src="@{'/productImages/' + ${product.imagesUrl[1]}}" alt="product image">
                                        </figure>

                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        <div><img th:if="${not #lists.isEmpty(product.imagesUrl)}"
                                                  th:src="@{'/productImages/' + ${product.imagesUrl[0]}}" alt="product image"></div>
                                        <div><img th:if="${not #lists.isEmpty(product.imagesUrl)}"
                                                  th:src="@{'/productImages/' + ${product.imagesUrl[1]}}" alt="product image"></div>
                                        <div><img th:if="${not #lists.isEmpty(product.imagesUrl)}"
                                                  th:src="@{'/productImages/' + ${product.imagesUrl[1]}}" alt="product image"></div>

                                    </div>
                                </div>
                                <!-- End Gallery -->
                                <div class="social-icons single-share">
                                    <ul class="text-grey-5 d-inline-block">
                                        <li><strong class="mr-10">Share this:</strong></li>
                                        <li class="social-facebook"><a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                        <li class="social-twitter"> <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                        <li class="social-instagram"><a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                        <li class="social-linkedin"><a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail" th:text="${product.name}"></h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            <span> Brands: <a href="shop-grid-right.html"></a></span>
                                        </div>
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="stars">
                                                   <p style="--rating: 4.3;" th:text="${rating}"></p>
                                                </div>
                                               <!-- <div class="product-rating"  style="width:90%"> -->
                                                </div>
                                            </div>
                                           <!-- <span class="font-small ml-5 text-muted"> (25 reviews)</span> -->
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins><span class="text-brand" th:text="${product.salePrice}">$</span></ins>
                                            <ins><span class="old-price font-md ml-15" th:text="${product.costPrice}">$</span></ins>
                                            <span class="save-price  font-md color3 ml-15"></span>
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p th:text="${product.description}"></p>
                                    </div>
                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <!--<li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li> -->
                                            <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                        </ul>
                                    </div>
                                    <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">Color:<span th:text="${product.productColor}"></span></strong>
                                    </div>
                                        <!--   <ul class="list-filter color-filter">
                                            <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                                            <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                                            <li class="active"><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                            <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                                            <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                                            <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                                            <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="attr-detail attr-size">
                                        <strong class="mr-10">Size</strong>
                                        <ul class="list-filter size-filter font-small">
                                            <li><a href="#">S</a></li>
                                            <li class="active"><a href="#">M</a></li>
                                            <li><a href="#">L</a></li>
                                            <li><a href="#">XL</a></li>
                                            <li><a href="#">XXL</a></li>
                                        </ul>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="detail-extralink">
                                        <div class="detail-qty border radius">
                                            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">1</span>
                                            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div> -->

                                              <a type="submit" class="btn btn-primary" th:href="@{/addToCart(productId=${product.id})}">Add to cart</a>
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" th:href="@{/addToWishList(productId=${product.id})}"><i class="fi-rs-heart"></i></a>
                                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>

                                    </div>
                                    <ul class="product-meta font-xs color-grey mt-50" th:if="${product.currentQuantity} !=0">
                                        <li class="mb-5"> <a href="#"></a></li>
                                        <li class="mb-5"><a href="#" rel="tag"></a>, <a href="#" rel="tag"></a>, <a href="#" rel="tag"></a> </li>
                                        <li>Availability:<span class="in-stock text-success ml-5" th:text="${product.currentQuantity}"> </span></li>
                                    </ul>
                                <ul class="product-meta font-xs color-grey mt-50" th:if="${product.currentQuantity}==0"> out of stock</ul>
                            </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


    <div class="comments-area">
        <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h4 class="mb-30">Review</h4>
                <div class="comment-form">


                    <div class="row">
                        <div class="col-lg-12 col-md-12">

                        </div>
                    </div>
                </div>
                <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex" th:each="review:${reviews}">
                        <div class="user justify-content-between d-flex" >
                            <div class="thumb text-center col-md-4">

                                <h6><a href="#" th:text="${review.customer.name}"></a></h6>

                            </div>
                            <div class="desc col-md-8">

                                <p th:text="${review.comment}">.</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <p class="font-xs mr-30" >
                                            <small th:text="${review.reviewDate}">

                                            </small>
                                        </p>
                                       <!-- <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
</main>

<div th:replace="~{fragment::footer}">

</div>

<div th:replace="~{fragment::scipt}">

</div>
</body>
</html>